h1 {
    color: blue;
    text-align: center;
    font-size: xx-large;
}

body {
    background-color: aqua;
}

#recipes {
    color: blueviolet;
    font-size: larger;
    display: inline-block;
    text-align: left;
    
}

.description,
.ingredients,
.directions {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: auto;
}